h1 {
	margin: -8px;
	color: white;
	background-color: limegreen;
	align-items: flex-start;
}

nav li a {
	color: white;
	text-decoration: none;t
	background-color: black;
	padding-right: 10px;
	border: 1px solid limegreen;
	background-color: limegreen;
	align-items: flex-start;
}

nav ul {
	position: relative;
	left: -40px;
	list-style-type: none;
	align-items: flex-start;
}

body {
	background-color: black;
}

p {
	color: white;
	align-items: flex-start;
}

h2 {
	color: red;
	align-items: flex-start;
}

.Undertale {
	margin-left: -60px;
	margin-bottom: -60px;
	align-items: flex-start;
}

.Down {
	text-align: right;
	background-color: limegreen;
	align-items: flex-start;
}

.p {
	width: 650px;
	color: lime;
	align-items: flex-start;
}

.M1, .MA1, .U1, .I1 {
	color: blue;
	align-items: flex-start;
}

.M2, .MA2, .U2, .I2 {
	color: red;
	align-items: flex-start;
}

.M3, .MA3, .U3, .I3 {
	color: yellow;
	align-items: flex-start;
}

.M4, .MA4, .U4, .I4 {
	color: green;
	align-items: flex-start;
}

.M5, .MA5, .U5, .I5 {
	color: purple;
	align-items: flex-start;
}

.M6, .MA6, .U6, .I6 {
	color: orange;
	align-items: flex-start;
}

.M7, .MA7, .U7, .I7 {
	color: brown;
	align-items: flex-start;
}

.M8, .MA8, .U8, .I8 {
	color: cyan;
	align-items: flex-start;
}

.M9, .MA9, .U9, .I9 {
	color: lime;
	align-items: flex-start;
}