h1 {
	margin: -8px;
	color: white;
	background-color: limegreen;
}

nav li a {
	color: white;
	text-decoration: none;t
	background-color: black;
	padding-right: 10px;
	border: 1px solid limegreen;
	background-color: limegreen;
}

nav ul {
	position: relative;
	left: -40px;
	display: flex;
	list-style-type: none;
}

body {
	background-color: black;
}

p {
	color: white;
}

h2 {
	color: red;
}

.Undertale {
	margin-left: -60px;
}

.Down {
	text-align: right;
	background-color: limegreen;
}

.p {
	width: 650px;
}

.M1 {
	color: blue;
}

.M2 {
	color: red;
}

.M3 {
	color: yellow;
}

.M4 {
	color: green;
}

.M5 {
	color: purple;
}

.M6 {
	color: orange;
}

.M7 {
	color: brown;
}

.M8 {
	color: cyan;
}

.M9 {
	color: lime;
}