h1 {
	margin: -10px;
	color: white;
	background-color: limegreen;
}

nav li a {
	color: white;
	text-decoration: none;t
	background-color: black;
	padding-right: 10px;
}

nav ul {
	position: relative;
	left: -40px;
	display: flex;
	list-style-type: none;
}

body {
	background-color: black;
}

